 
    h1 {
        color: green; 
      }
      body { font-family: monospace;
        font-size: 2em;
        font-style: italic;
  
        background-color: burlywood; 
      }
      p {
        font-family: Arial, Helvetica, sans-serif;
      }
      #titulo-frutas {
        background-color: yellow;
      }
      #frutas {
        position: absolute;
        left: 0;
        top: 10;
        background-color: greenyellow;
      }
  